<form method="post" action="/games/<%= @game.id %>">

  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="<%= @game.title %>"/>

  <label for="console">Console</label>
  <input type="text" id="console" name="console" value="<%= @game.console %>"/>

  <label for="quantity">In Stock</label>
  <input type="text" id="quantity" name="quantity" value="<%= @game.quantity %>"/>

  <input type="submit" value="Save">

</form>
