<form method="post" action="/games">
  <label for="title">Title</label>
  <input type="text" id="title" name="title"/>

  <label for="console">Console</label>
  <select name="console">
    <option value="PS4">PS4</option>
    <option value="Xbox1">Xbox1</option>
    <option value="Nintendo Switch">Nintendo Switch</option>
    <option value="PC">PC</option>
    <option value="Other">Other</option>
  </select>

  <label for="quantity">Stock Quantity</label>
  <input type="number" min="0" id="quantity" name="quantity"/>

  <label for="image">Image URL</label>
  <input type="text" id="image" name="image"/>

  <input type="submit" value="Save Game">

</form>
