
body {
  background-color: lightgrey;
  font-family: sans-serif;
  margin: 0;
}




nav {
  list-style-type: none;
  background: #EB1933;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px
}

.container {
  display: flex;
  justify-content: center;
}

.header h1{
  align-content: left;
}

.home{
  display: flex;
    justify-content: center;
}
.home_boxes {
  background-color: darkgrey;
  width: 30%;
  padding-left: 5px;
  margin:5px;
    max-height: 100vh;
    overflow: scroll;
}

.box-content{

}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
