<h1>Rental Breakdown</h1>
<a href="/customers">Customers</a>
<hr>
<a href="/games">Games</a>
<hr>
<a href="/rentals">Rentals</a>
<hr>
<a href="/rentals">Overdue Rentals</a>
<hr>
<a href="/rentals/new">New Rental</a>
