<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/forms.css">
  <link rel="stylesheet" href="/buttons.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  <div class="header">
    <title>Rental Breakdown<i class="fas fa-gamepad"></i></title>
    <nav>
      <h1>Rental Breakdown</h1>
      <li><a href="/">Home</a></li>
      <li><a href="/rentals">Rentals</a></li>
      <li><a href="/customers">Customers</a></li>
      <li><a href="/games">Games</a></li>
    </nav>
</head>
<body>
<%= yield %>
</body>
</html>
