<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/main.css">
  <div class="header">
    <nav>
      <h1>Rental Breakdown</h1>
      <li><a href="/">Home</a></li>
      <li><a href="/rentals">Rentals List</a></li>
      <li><a href="/customers">Customer List</a></li>
      <li><a href="/games">Game List</a></li>
    </nav>
</head>
<body class="container">
<%= yield %>
</body>
</html>
