<a href="/customers/new">Add Customer</a>
<a href="/games/new">Add Game</a>
<hr>
<form method="post" action="/rentals">

  <label for="customer_id">Select Customer</label>
  <select name="customer_id">
    <% for customer in @customers %>
    <option value="<%= customer.id %>"><%= customer.name %></option>
    <% end %>
  </select>

  <label for="game_id">Select Game</label>
  <select name="game_id">
    <% for game in @games %>
    <option value="<%= game.id %>"><%= game.title %></option>
    <% end %>
  </select>

  <label for="rental_period">Rental Period</label>
  <input type="number" name="rental_period" id="rental_period" min="0"/>

  <label for="rental_status">Rental Status</label>
  <select name="rental_status">
    <option value="Renting">Renting</option>
    <option value="Returned">Returned</option>
  </select>

  <label for="date_rented"></label>

<input type="submit" value="Save">

</form>
