<form method="post" action="/rentals">

  <label for="customer_id">Customer</label>
  <input type="number" name="customer_id" id="customer_id"/>

  <label for="game_id">Game</label>
  <input type="number" name="game_id" id="game_id"/>

  <label for="rental_period">Rental Period</label>
  <input type="number" name="rental_period" id="rental_period"/>

<input type="submit" value="Save">

</form>
