<h2>Customers</h2>
<a href="/customers/new">Add Customer</a>
<hr>
<div class="parent-box">

  <% for customer in @customers %>
  <div class="single-box">
  <p>name: <%= customer.name %></p>
  <p>email: <%= customer.email %></p>
  <p><a href="/customers/<%= customer.id %>">Select Customer</a></p>
  </div>
  <% end %>

</div>
