<form method="post" action="/customers">
  <label for="name">Name</label>
  <input type="text" id="name" name="name"/>

  <label for="email">Email</label>
  <input type="text" id="email" name="email">

  <input type="submit" value="Save Customer">

</form>
